html {
    background: #d91159;
}

body {
    font-family: Helvetica, sans-serif;
    color: black;
    margin: 40px;
    padding: 60px;
    border-top: 10px solid #242424;
    background-color: lightblue;
    font-size: 25px;
    line-height: 1.4em;

}

.sissy {
    width: 400px;
    height: 200px;
}