html {
    background: purple;
}

body {
    font-family: Helvetica, sans-serif;
    color: black;
    margin: 40px;
    padding: 60px;
    border-top: 10px solid #242424;
    background-color: orange;
    font-size: 30px;
    line-height: 1.4em;

}

.sissy {
    width: 400px;
    height: 200px;
}